div {
    border: 1px solid rgba(0, 0, 0, .3);
    text-align: center;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: left;
    width: 400px;

}

body {
    display: flex;
    justify-content: center;
}
.box {
    margin: 10px;
    background: #3498db;
    width: 50px;
    height: 40px;
}