div {
  background-color: red;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid blue;
  border-radius: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 20px 10px 15px cyan;
  opacity: 30%;
  text-shadow: 10px 5px 10px yellow;
  font-size: 30px;
  font-family: cursive;
  border-top-color:transparent;
  background: url("../Images/logo.png");
  background-size: cover;
}
